#MainContainerTC{
    height: 300vh;
    width: 100%;
}

#StickyDiv{
    top: 0;
    position: sticky;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

#CardContainer {
    display: flex;
    flex-direction: row;
    height: 40%;
}

#CardContainer2 {
    display: flex;
    flex-direction: row;
    height: 40%;
}

#TitleWrapper {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #a78bfa;
    margin-bottom: 20px;
}

#tile-TopDown{
    color: #fff;
    width: 40vw;
    margin: 10px;
    padding: 10px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,#a78bfa, #0e1111);
    height: 100%;
}

#tile-DownTop{
    color: #fff;
    width: 40vw;
    margin: 10px;
    padding: 10px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a78bfa, #0e1111);
    height: 100%;
}


img{
    width: 50%;
    height: 50%;
}