@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

#VideoScrubContainer{
    height: 500vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;


    mask-image: radial-gradient(circle, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

#InsideContainer{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

#scrollContainer {
    width: 100vw;
    display: flex;
    bottom: 10%;
    position: absolute;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
}